:root {
  --primary: #aabbcc;
  --secondary: #c7523a;
  --secondary2:#fbd87f;
  --neutral: #1c1a18;
  --neutral2: #a9a9a9;
  
}

body {
  background-color: var(--neutral2);
    color: var(--neutral);
}

img {
  width: 300px;
  margin: 0 auto;
  display: block;
}

h1 {
font-size: 50px;
}

p {
  font-size: 20px;
}

h1,p {
  text-align: center;
}